.66_135 { 
	overflow:hidden;
}.e66_135 { 
	background-color:rgba(255, 255, 255, 1);
	width:414px;
	height:896px;
	position:absolute;
}.e71_135 { 
	width:414px;
	height:620px;
	position:absolute;
	left:0px;
	top:-103px;
	background-image:url(images/unsplash_kut4hk3_z5s.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e71_136 { 
	background-color:rgba(255, 255, 255, 1);
	width:414px;
	height:69px;
	position:absolute;
	left:0px;
	top:483px;
	border-radius:15px;
}.e71_138 { 
	background-color:rgba(243.00000071525574, 165.00000536441803, 170.0000050663948, 1);
	width:127px;
	height:44px;
	position:absolute;
	left:143px;
	top:759px;
	border-top-left-radius:52px;
	border-top-right-radius:52px;
	border-bottom-left-radius:52px;
	border-bottom-right-radius:52px;
}.ei71_138_5_196 { 
	color:rgba(255, 255, 255, 1);
	width:57px;
	height:24px;
	position:absolute;
	left:35px;
	top:10px;
	font-family:Be Vietnam;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e71_140 { 
	background-color:rgba(242.00000077486038, 231.00000143051147, 227.00000166893005, 0.550000011920929);
	width:280px;
	height:39px;
	position:absolute;
	left:67px;
	top:672px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e71_143 { 
	background-color:rgba(242.00000077486038, 231.00000143051147, 227.00000166893005, 0.550000011920929);
	width:280px;
	height:39px;
	position:absolute;
	left:67px;
	top:600px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}